* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid rgb(157, 157, 157);
}

.users-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.6rem;
}

.user-list-title {
  text-align: center;
}
